.off-canvas-mobile {
  height: 100vh;
}

.dropdown {
  &.menu {
    a {
      color: $black;

      &:hover {
        color: $primary-color;
      }
    }

    > li {
      float: left;

      > a {
        font-size: rem-calc(18);
        padding-left: rem-calc(15);
        padding-right: rem-calc(15);
        margin-right: rem-calc(10);
        margin-left: rem-calc(10);
        color: $black;
        background: $white;
        transition: $defaultTransition;
        font-family: $patua-font;
        height: 69px;
        border-bottom: 10px solid transparent;

        &:hover {
          color: $black;
          border-bottom: 3px solid $primary-color;
        }
      }

      &.is-dropdown-submenu {
        border: none;
        background-color: $white;
      }

      &.is-dropdown-submenu-parent {
        > a {
          padding-right: rem-calc(40);

          &:after {
            right: rem-calc(17);
            border-color: $primary-color transparent transparent;
            margin-top: rem-calc(-10);
          }
        }
      }

      &.is-active {
        > a {
          border-bottom: 3px solid $primary-color;
          color: $black;
        }
      }
    }
  }
}

// Mobile Navigation
.mobNav {
  cursor: pointer;

  .svg {
    color: $black;
    fill: $black;
    height: 25px;
    width: 25px;
  }
}

.mobileNav {
  transition: $defalt-transition;
  position: relative;

  > ul {
    > li {
      padding-bottom: rem-calc(15);

      > a {
        font-size: rem-calc(22);
        color: $black;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        font-family: $patua-font;
      }
    }

    ul {
      margin-left: rem-calc(35);

      li {
        list-style: none;

        a {
          font-size: rem-calc(18);
          color: $black;
          display: block;
          padding: rem-calc(10 0);
        }
      }
    }
  }

  &.open {
    padding-top: rem-calc(25);
    margin-top: 0 !important;
  }
}
